# Dataset Preparation

In [1]:
from requests import get
url = 'http://www.imdb.com/search/title?release_date=2017&sort=num_votes,desc&page=1'
response = get(url)
print(response.text[:500])

<!DOCTYPE html>
<html
    xmlns:og="http://ogp.me/ns#"
    xmlns:fb="http://www.facebook.com/2008/fbml">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="apple-itunes-app" content="app-id=342792525, app-argument=imdb:///?src=mdot">



        <script type="text/javascript">var IMDbTimer={starttime: new Date().getTime(),pt:'java'};</script>

<script>
    if (typeof uet == 'function') {
      uet("bb", "LoadTitle"

In [2]:
from bs4 import BeautifulSoup
html_soup = BeautifulSoup(response.text, 'html.parser')
type(html_soup)

bs4.BeautifulSoup

In [3]:
movie_containers = html_soup.find_all('div', class_ = 'lister-item mode-advanced')
print(type(movie_containers))
print(len(movie_containers))

<class 'bs4.element.ResultSet'>
50

In [4]:
first_movie = movie_containers[0]
first_movie

<div class="lister-item mode-advanced">
<div class="lister-top-right">
<div class="ribbonize" data-caller="filmosearch" data-tconst="tt3315342"></div>
</div>
<div class="lister-item-image float-left">
<a href="/title/tt3315342/"> <img alt="Logan" class="loadlate" data-tconst="tt3315342" height="98" loadlate="https://m.media-amazon.com/images/M/MV5BYzc5MTU4N2EtYTkyMi00NjdhLTg3NWEtMTY4OTEyMzJhZTAzXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_UX67_CR0,0,67,98_AL_.jpg" src="https://m.media-amazon.com/images/G/01/imdb/images/nopicture/large/film-184890147._CB470041630_.png" width="67"/>
</a> </div>
<div class="lister-item-content">
<h3 class="lister-item-header">
<span class="lister-item-index unbold text-primary">1.</span>
<a href="/title/tt3315342/">Logan</a>
<span class="lister-item-year text-muted unbold">(2017)</span>
</h3>
<p class="text-muted ">
<span class="certificate">R</span>
<span class="ghost">|</span>
<span class="runtime">137 min</span>
<span class="ghost">|</span>
<span class="genre">
Action, Drama, Sci-Fi            </span>
</p>
<div class="ratings-bar">
<div class="inline-block ratings-imdb-rating" data-value="8.1" name="ir">
<span class="global-sprite rating-star imdb-rating"></span>
<strong>8.1</strong>
</div>
<div class="inline-block ratings-user-rating">
<span class="userRatingValue" data-tconst="tt3315342" id="urv_tt3315342">
<span class="global-sprite rating-star no-rating"></span>
<span class="rate" data-no-rating="Rate this" data-value="0" name="ur">Rate this</span>
</span>
<div class="starBarWidget" id="sb_tt3315342">
<div class="rating rating-list" data-auth="" data-ga-identifier="" data-starbar-class="rating-list" data-user="" id="tt3315342|imdb|8.1|8.1|||advsearch|title" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating" title="Users rated this 8.1/10 (575,167 votes) - click stars to rate">
<meta content="8.1" itemprop="ratingValue"/>
<meta content="10" itemprop="bestRating"/>
<meta content="575167" itemprop="ratingCount"/>
<span class="rating-bg"> </span>
<span class="rating-imdb " style="width: 113.4px"> </span>
<span class="rating-stars">
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>1</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>2</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>3</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>4</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>5</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>6</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>7</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>8</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>9</span></a>
<a href="/register/login?why=vote" rel="nofollow" title="Register or login to rate this title"><span>10</span></a>
</span>
<span class="rating-rating "><span class="value">8.1</span><span class="grey">/</span><span class="grey">10</span></span>
<span class="rating-cancel "><a href="/title/tt3315342/vote?v=X;k=" rel="nofollow" title="Delete"><span>X</span></a></span>
 </div>
</div>
</div>
<div class="inline-block ratings-metascore">
<span class="metascore favorable">77        </span>
        Metascore
            </div>
</div>
<p class="text-muted">
    In a future where mutants are nearly extinct, an elderly and weary Logan leads a quiet life. But when Laura, a mutant child pursued by scientists, comes to him for help, he must get her to safety.</p>
<p class="">
    Director:
<a href="/name/nm0003506/">James Mangold</a>
<span class="ghost">|</span>
    Stars:
<a href="/name/nm0413168/">Hugh Jackman</a>,
<a href="/name/nm0001772/">Patrick Stewart</a>,
<a href="/name/nm6748436/">Dafne Keen</a>,
<a href="/name/nm2933542/">Boyd Holbrook</a>
</p>
<p class="sort-num_votes-visible">
<span class="text-muted">Votes:</span>
<span data-value="575167" name="nv">575,167</span>
<span class="ghost">|</span> <span class="text-muted">Gross:</span>
<span data-value="226,277,068" name="nv">$226.28M</span>
</p>
</div>
</div>

In [5]:
first_movie.div

<div class="lister-top-right">
<div class="ribbonize" data-caller="filmosearch" data-tconst="tt3315342"></div>
</div>

Find the description of the first movie

In [6]:
first_movie.find_all('p')[1].text

'\n    In a future where mutants are nearly extinct, an elderly and weary Logan leads a quiet life. But when Laura, a mutant child pursued by scientists, comes to him for help, he must get her to safety.'

In [7]:
second_movie = movie_containers[1]
second_movie.find_all('p')[1].text

'\n    Thor (Chris Hemsworth) is imprisoned on the planet Sakaar, and must race against time to return to Asgard and stop Ragnarök, the destruction of his world, at the hands of the powerful and ruthless villain Hela (Cate Blanchett).'

In [8]:
first_name = first_movie.h3.a.text
first_name

'Logan'

In [9]:
first_year = first_movie.h3.find('span', class_ = 'lister-item-year text-muted unbold')
first_year

In [10]:
first_year = first_year.text
first_year

'(2017)'

In [11]:
first_movie.strong

In [12]:
first_imdb = float(first_movie.strong.text)
first_imdb

8.1

In [13]:
first_mscore = first_movie.find('span', class_ = 'metascore favorable')
first_mscore = int(first_mscore.text)
print(first_mscore)

77

In [14]:
first_votes = first_movie.find('span', attrs = {'name':'nv'})
first_votes

In [15]:
first_votes = int(first_votes['data-value'])

some movies have no rating score

In [16]:
eighth_movie_mscore = movie_containers[22].find('div', class_ = 'ratings-metascore')
print(type(eighth_movie_mscore))

<class 'NoneType'>

In [17]:
# Lists to store the scraped data in
names = []
years = []
imdb_ratings = []
metascores = []
votes = []
descriptions = []
headers = {"Accept-Language": "en-US, en;q=0.5"}

# Extract data from individual movie container
for container in movie_containers:
# If the movie has Metascore, then extract:
    if container.find('div', class_ = 'ratings-metascore') is not None:
# The name
        name = container.h3.a.text
        names.append(name)
# The year
        year = container.h3.find('span', class_ = 'lister-item-year').text
        years.append(year)
# The IMDB rating
        imdb = float(container.strong.text)
        imdb_ratings.append(imdb)
# The Metascore
        m_score = container.find('span', class_ = 'metascore').text
        metascores.append(int(m_score))
# The number of votes
        vote = container.find('span', attrs = {'name':'nv'})['data-value']
        votes.append(int(vote))
# The description
        description = container.find_all('p')[1].text
        descriptions.append(description)

In [18]:
import pandas as pd
test_df = pd.DataFrame({'movie': names,
'year': years,
'imdb': imdb_ratings,
'metascore': metascores,
'votes': votes,
'descriptions': descriptions
})
print(test_df.info())
test_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 6 columns):
descriptions    43 non-null object
imdb            43 non-null float64
metascore       43 non-null int64
movie           43 non-null object
votes           43 non-null int64
year            43 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 2.1+ KB
None

,descriptions,imdb,metascore,movie,votes,year
0,\n In a future where mutants are nearly ext...,8.1,77,Logan,575167,(2017)
1,\n Thor (Chris Hemsworth) is imprisoned on ...,7.9,74,Thor: Ragnarok,506304,(2017)
2,\n The Guardians struggle to keep together ...,7.6,67,Guardians of the Galaxy Vol. 2,501412,(2017)
3,\n When a pilot crashes and tells of confli...,7.4,76,Wonder Woman,499311,(2017)
4,"\n Allied soldiers from Belgium, the Britis...",7.9,94,Dunkirk,479079,(2017)
5,\n Rey develops her newly discovered abilit...,7.1,85,Star Wars: Episode VIII - The Last Jedi,473920,(2017)
6,\n Peter Parker balances his life as an ord...,7.5,73,Spider-Man: Homecoming,449961,(2017)
7,\n A young African-American visits his whit...,7.7,84,Get Out,418087,(I) (2017)
8,\n A young blade runner's discovery of a lo...,8.0,81,Blade Runner 2049,389551,(2017)
9,"\n In the summer of 1989, a group of bullie...",7.4,69,It,382306,(I) (2017)
10,\n After being coerced into working for a c...,7.6,86,Baby Driver,378902,(2017)
11,\n A mother personally challenges the local...,8.2,88,"Three Billboards Outside Ebbing, Missouri",357564,(2017)
12,\n Fueled by his restored faith in humanity...,6.4,45,Justice League,338234,(2017)
13,\n At a top secret research facility in the...,7.3,87,The Shape of Water,318747,(2017)
14,\n After returning to the criminal underwor...,7.5,75,John Wick: Chapter 2,310109,(2017)
15,"\n Aspiring musician Miguel, confronted wit...",8.4,81,Coco,293065,(I) (2017)
16,\n Four teenagers are sucked into a magical...,6.9,58,Jumanji: Welcome to the Jungle,251681,(2017)
17,\n A selfish prince is cursed to become a m...,7.2,65,Beauty and the Beast,244463,(2017)
18,"\n After the Vietnam war, a team of scienti...",6.6,62,Kong: Skull Island,244291,(2017)
19,\n When their headquarters are destroyed an...,6.8,44,Kingsman: The Golden Circle,237827,(2017)
20,\n Captain Jack Sparrow (Johnny Depp) searc...,6.6,39,Pirates of the Caribbean: Dead Men Tell No Tales,234093,(2017)
21,"\n The crew of a colony ship, bound for a r...",6.4,65,Alien: Covenant,231633,(2017)
22,\n After the apes suffer unimaginable losse...,7.4,82,War for the Planet of the Apes,206404,(2017)
23,\n Celebrates the birth of show business an...,7.6,48,The Greatest Showman,205191,(2017)
24,\n A team of scientists aboard the Internat...,6.6,54,Life,186484,(I) (2017)
25,\n When a mysterious woman seduces Dom into...,6.7,56,The Fate of the Furious,185433,(2017)
26,"\n In 2002, an artistically inclined sevent...",7.4,94,Lady Bird,184543,(2017)
27,\n When a murder occurs on the train on whi...,6.5,52,Murder on the Orient Express,182755,(2017)
28,"\n In the near future, Major Mira Killian i...",6.4,52,Ghost in the Shell,180391,(2017)
29,\n A veteran hunter helps an FBI agent inve...,7.7,73,Wind River,174582,(2017)
30,"\n Robbed of his birthright, Arthur comes u...",6.8,41,King Arthur: Legend of the Sword,172517,(2017)
31,\n The world's top bodyguard gets a new cli...,6.9,47,The Hitman's Bodyguard,165732,(2017)
32,\n A couple's relationship is tested when u...,6.6,75,Mother!,162938,(2017)
33,"\n In 1980s Italy, a romance blossoms betwe...",7.9,93,Call Me by Your Name,160702,(2017)
34,\n An ancient Egyptian princess is awakened...,5.5,34,The Mummy,158247,(2017)
35,\n An undercover MI6 agent is sent to Berli...,6.7,63,Atomic Blonde,154963,(2017)
36,\n A detective must work with an Orc to fin...,6.4,29,Bright,151223,(I) (2017)
37,\n Competitive ice skater Tonya Harding ris...,7.5,77,"I, Tonya",147741,(2017)
38,"\n A dark force threatens Alpha, a vast met...",6.5,51,Valerian and the City of a Thousand Planets,143932,(2017)
39,\n Devoted lifeguard Mitch Buchannon butts ...,5.5,37,Baywatch,142529,(2017)
40,"\n In May 1940, the fate of Western Europe ...",7.4,75,Darkest Hour,140810,(2017)
41,"\n The story of Barry Seal, an American pil...",7.1,65,American Made,136672,(2017)
42,\n A deadly threat from Earth's history rea...,5.2,27,Transformers: The Last Knight,122166,(2017)

In [19]:
pages = [str(i) for i in range(1,5)]
years_url = [str(i) for i in range(2000,2018)]

Now let's try scraping data from multiple pages

In [20]:
from time import sleep
from random import randint
from time import time; start_time = time()
from IPython.core.display import clear_output
from warnings import warn; warn("Warning Simulation")

/Users/samfeng/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:5: UserWarning: Warning Simulation
  """

In [21]:
# Redeclaring the lists to store data in
names = []
years = []
imdb_ratings = []
metascores = []
votes = []
descriptions = []
headers = {"Accept-Language": "en-US, en;q=0.5"}

# Preparing the monitoring of the loop
start_time = time()
requests = 0

# For every year in the interval 2000-2017
for year_url in years_url:

    # For every page in the interval 1-4
    for page in pages:

        # Make a get request
        response = get('http://www.imdb.com/search/title?release_date=' + year_url +
        '&sort=num_votes,desc&page=' + page, headers = headers)

        # Pause the loop
        sleep(randint(8,15))

        # Monitor the requests
        requests += 1
        elapsed_time = time() - start_time
        print('Request:{}; Frequency: {} requests/s'.format(requests, requests/elapsed_time))
        clear_output(wait = True)

        # Throw a warning for non-200 status codes
        if response.status_code != 200:
            warn('Request: {}; Status code: {}'.format(requests, response.status_code))

        # Break the loop if the number of requests is greater than expected
        if requests > 72:
            warn('Number of requests was greater than expected.')
            break

        # Parse the content of the request with BeautifulSoup
        page_html = BeautifulSoup(response.text, 'html.parser')

        # Select all the 50 movie containers from a single page
        mv_containers = page_html.find_all('div', class_ = 'lister-item mode-advanced')

        # For every movie of these 50
        for container in mv_containers:
            # If the movie has a Metascore, then:
            if container.find('div', class_ = 'ratings-metascore') is not None:

                # Scrape the name
                name = container.h3.a.text
                names.append(name)

                # Scrape the year
                year = container.h3.find('span', class_ = 'lister-item-year').text
                years.append(year)

                # Scrape the IMDB rating
                imdb = float(container.strong.text)
                imdb_ratings.append(imdb)

                # Scrape the Metascore
                m_score = container.find('span', class_ = 'metascore').text
                metascores.append(int(m_score))

                # Scrape the number of votes
                vote = container.find('span', attrs = {'name':'nv'})['data-value']
                votes.append(int(vote))
                # The description
                description = container.find_all('p')[1].text
                descriptions.append(description)

Request:72; Frequency: 0.07836489871491117 requests/s

In [22]:
movie_ratings = pd.DataFrame({'movie': names,
'year': years,
'imdb': imdb_ratings,
'metascore': metascores,
'votes': votes,
'descriptions': descriptions
})
print(movie_ratings.info())
movie_ratings.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3276 entries, 0 to 3275
Data columns (total 6 columns):
descriptions    3276 non-null object
imdb            3276 non-null float64
metascore       3276 non-null int64
movie           3276 non-null object
votes           3276 non-null int64
year            3276 non-null object
dtypes: float64(1), int64(2), object(3)
memory usage: 153.6+ KB
None

,descriptions,imdb,metascore,movie,votes,year
0,\n A former Roman General sets out to exact...,8.5,67,Gladiator,1230705,(2000)
1,\n A man with short-term memory loss attemp...,8.4,80,Memento,1043073,(2000)
2,"\n Unscrupulous boxing promoters, violent b...",8.3,55,Snatch,727766,(2000)
3,\n The drug-induced utopias of four Coney I...,8.3,68,Requiem for a Dream,709414,(2000)
4,\n In a world where mutants (evolved super-...,7.4,64,X-Men,542597,(2000)
5,\n A FedEx executive undergoes a physical a...,7.8,73,Cast Away,479211,(2000)
6,\n A wealthy New York City investment banki...,7.6,64,American Psycho,438231,(2000)
7,\n A man learns something extraordinary abo...,7.3,62,Unbreakable,359058,(2000)
8,\n Male nurse Greg Focker meets his girlfri...,7.0,73,Meet the Parents,295281,(2000)
9,\n I.M.F. Agent Ethan Hunt (Tom Cruise) is ...,6.1,59,Mission: Impossible II,294398,(2000)

In [23]:
movie_ratings = movie_ratings[['movie', 'year', 'imdb', 'metascore', 'votes', 'descriptions']]
movie_ratings.head()

,movie,year,imdb,metascore,votes,descriptions
0,Gladiator,(2000),8.5,67,1230705,\n A former Roman General sets out to exact...
1,Memento,(2000),8.4,80,1043073,\n A man with short-term memory loss attemp...
2,Snatch,(2000),8.3,55,727766,"\n Unscrupulous boxing promoters, violent b..."
3,Requiem for a Dream,(2000),8.3,68,709414,\n The drug-induced utopias of four Coney I...
4,X-Men,(2000),7.4,64,542597,\n In a world where mutants (evolved super-...

In [24]:
movie_ratings['year'].unique()

array(['(2000)', '(I) (2000)', '(2001)', '(2002)', '(2003)', '(2004)',
       '(I) (2004)', '(2005)', '(I) (2005)', '(2006)', '(I) (2006)',
       '(2007)', '(I) (2007)', '(2008)', '(I) (2008)', '(2009)',
       '(I) (2009)', '(2010)', '(I) (2010)', '(2011)', '(I) (2011)',
       '(2012)', '(I) (2012)', '(2013)', '(I) (2013)', '(2014)',
       '(I) (2014)', '(II) (2014)', '(2015)', '(I) (2015)', '(II) (2015)',
       '(2016)', '(II) (2016)', '(I) (2016)', '(IX) (2016)', '(2017)',
       '(I) (2017)'], dtype=object)

In [25]:
movie_ratings.describe().loc[['min', 'max'], ['imdb', 'metascore']]

     imdb  metascore
min   4.1       24.0
max   9.0      100.0

In [26]:
movie_ratings['n_imdb'] = movie_ratings['imdb'] * 10
movie_ratings.head(3)

,movie,year,imdb,metascore,votes,descriptions,n_imdb
0,Gladiator,(2000),8.5,67,1230705,\n A former Roman General sets out to exact...,85.0
1,Memento,(2000),8.4,80,1043073,\n A man with short-term memory loss attemp...,84.0
2,Snatch,(2000),8.3,55,727766,"\n Unscrupulous boxing promoters, violent b...",83.0

In [30]:
movie_ratings.to_csv('movie_ratings.csv')
movie_data = pd.read_csv('movie_ratings.csv')
movie_data.head()

,Unnamed: 0,movie,year,imdb,metascore,votes,descriptions,n_imdb
0,0,Gladiator,(2000),8.5,67,1230705,\n A former Roman General sets out to exact...,85.0
1,1,Memento,(2000),8.4,80,1043073,\n A man with short-term memory loss attemp...,84.0
2,2,Snatch,(2000),8.3,55,727766,"\n Unscrupulous boxing promoters, violent b...",83.0
3,3,Requiem for a Dream,(2000),8.3,68,709414,\n The drug-induced utopias of four Coney I...,83.0
4,4,X-Men,(2000),7.4,64,542597,\n In a world where mutants (evolved super-...,74.0